<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sudoku Solver</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>
    <body>
        <h1>Sudoku Solver</h1>
        <form id="upload-form">
            <input
                type="file"
                id="file-input"
                accept="image/*"
                capture="environment"
            />
            <button type="button" id="upload-button">
                Upload Sudoku Image
            </button>
        </form>
        <div id="status"></div>
        <div id="sudoku-grid"></div>

        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
